.gradient {
    width: 20px;
    vertical-align: middle;
    margin: auto;
}

.tick {
    position: absolute;
    height: 2px;
    width: 20px;
}

.lightgray {
  composes: tick;
  background: lightgray;
  z-index: 1;
}

.dimgray {
  composes: tick;
  background: dimgray;
  z-index: 2;
}

.tickLabel {
    position: absolute;
    white-space: nowrap;
    margin-top: -12px;
}

.left {
    composes: tickLabel;
    color: dimgray;
    right: 20px;
    padding-right: 5px;
}

.right {
    composes: tickLabel;
    color: lightgray;
    left: 20px;
    padding-left: 5px;
}
